.slidev-layout {
  font-size: 1.35rem !important;
}

.slidev-layout.default {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
}

.slidev-layout.default h1 {
  flex-shrink: 0;
}
